/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
.DS_Store
/public/crossdomain.xml
/public/testem.js
/public/tests
/public/fonts
/public/assets/*
/resources/views/app/main.blade.php
