body{
    background-color: #e2eaf3;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.login-box{
  box-shadow: 0 8px 6px -6px #bdc5ce;
  border-radius: 6px;
  background-color: white;
  width: 370px;
  height: 400px;
  margin-bottom: 14px;
}
.Absolute-Center.is-Responsive {
  width: 370px;
  height: 400px;
}
.gray-border{
  border: 1px solid #8e8d8d;
}

.gap1{
  margin-top: 10px;
}
.logo-box{
  height: 260px;
}
.apem-logo{
  padding-top: 21%;
  width: 100%;
}
.login-btn{
  background-color: #a9bfdb;
  border: 1px solid #a9bfdb;
  color:white;
  /*border-radius:0;
  max-width: 200px;
  margin: 20px auto;
  background-color: transparent;
  */
}
.user-input{
  background: url(../assets/images/login-sprite.png) 12px 6px no-repeat;
  background-size: 20px auto;
}
.pass-input{
  background: url(../assets/images/login-sprite.png) 12px -22px no-repeat;
  background-size: 20px auto;
}
.user-input, .pass-input{
  padding-left: 50px;
}
.login-btn:hover, .login-btn:active, .login-btn:focus{
  background-color: #a9bfdb;
  border: 1px solid #a9bfdb;
  color:white;
  box-shadow: none;
}
.transparent-input{
  border:0 none;
  box-shadow: none !important;
  background-color: transparent !important;
  background: none;
  border-color: transparent;
}
.top-border{
  border-top: 1px solid #8e8d8d;
}
.gray-bg{
  background-color: #ccc;
}

/*LOGIN ERROR STYLES*/
.login-error{
  width: 370px;
}
.alert-danger{
  background-color: #fff;
  padding-left: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}
.alert-danger:before {
  content: "\f05e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #a94442;
  font-size: 42px;
  padding-right: 0.5em;
  position: absolute;
  top: 416px;
  left: 30px;
}
